input {
    width: 4rem;
}
#status-input {
    width: 8rem;
}
.container-scroll {
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
.container-scroll2 {
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    min-height: 900px;
}
.scroll-1 {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-2 {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.block-function {
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.border-function {
    border: 1px solid #ccc;
}
.block-function:last-child {
    margin-bottom: 0rem;
}
.nav.nav-tabs .nav-link {
    margin-right: 1rem;
    color: #898989;
}
.nav.nav-tabs .nav-link.active {
    color: #000;
}