<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>График</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Параметры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/graphic">График</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diagrams">Диаграммы</a>
            </li>
        </ul>
    </header>

    <div class="container">
        <img src="/static/images/figure.png" id="graphic-image" class="img-fluid">
    </div>
</div>
<script src="/static/js/graphicChecker.js"></script>
</body>
</html>