<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Параметры</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Параметры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/graphic">График</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diagrams">Диаграммы</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid row py-3 g-4">
        <div class="col-lg-6">
            <h5>Характеристики</h5>
            <div class="container-scroll scroll-2">
                {% for x in faks %}
                <div class="block-function">
                    <span>{{ x }}(t)=</span>
                    <input id="faks-{{ loop.index }}-1" type="text">
                    <span>*t^3+</span>
                    <input id="faks-{{ loop.index }}-2" type="text">
                    <span>*t^2+</span>
                    <input id="faks-{{ loop.index }}-3" type="text">
                    <span>*t+</span>
                    <input id="faks-{{ loop.index }}-4" type="text">
                </div>
                {% endfor %}
            </div>

            <div class="mt-4">
                <h5>Уравнения</h5>
                <div class="container-scroll scroll-2">
                    {% for x in equations %}
                    <div class="block-function">
                        <span>{{ x["f"] }}({{ x["param"] }})=</span>
                        <input id="equations-{{ loop.index }}-1" type="text">
                        <span>*{{ x["param"] }}^4+</span>
                        <input id="equations-{{ loop.index }}-2" type="text">
                        <span>*{{ x["param"] }}^3+</span>
                        <input id="equations-{{ loop.index }}-3" type="text">
                        <span>*{{ x["param"] }}^2+</span>
                        <input id="equations-{{ loop.index }}-4" type="text">
                        <span>*{{ x["param"] }}+</span>
                        <input id="equations-{{ loop.index }}-5" type="text">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5>Начальные условия</h5>
            <div class="container-scroll scroll-1">
                {% for x in initial_equations %}
                <div class="block-function border-function">
                    <div class="d-flex justify-content-between">
                        <span>{{ x }}</span>
                        <input id="init-eq-{{ loop.index }}" type="text">
                    </div>
                    <span> Предельное значение: </span>
                    <input id="restrictions-{{ loop.index }}" type="text" value="1.0">
                </div>
                {% endfor %}
            </div>

            <div class="mt-4">
                <h5 class="mb-3">Управление</h5>
                <span class="pe-3">Статус</span>
                <input type="text" readonly id="status-input" class="me-3">
                <button onclick="process()" class="px-2 mx-2">Вычислить</button>
                <button onclick="refill()" class="px-2">Обновить значения</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>